<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of all movies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="pannel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">ACTOR</h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="https://imgbb.com/"><img
                                        src="https://vignette.wikia.nocookie.net/disney/images/8/8e/Godfather15.jpg/revision/latest?cb=20120531183120"
                                        alt="shakespeare-hamlet-1" border="0" style="width:80%"/></a>
                                <h4><span th:text="${actor.getName()}"></span>
                                    <span th:text="${actor.getSurname()}"></span></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">Description</h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                W dzieciństwie
                                <span th:text="${actor.getName()}"></span>
                                nie miał wielu przyjaciół,
                                dlatego największym uczuciem darzył swojego dziadka,
                                niestety ten zmarł gdy chłopak miał zaledwie siedem lat.
                                Natomiast kiedy skończył piętnaście lat, jego rodzice rozwiedli się.
                                Te wydarzenie wywarły bardzo negatywny wpływ na przyszłym aktorze,
                                zaczął brać narkotyki i znacząco opuścił się w nauce.
                                Wtedy na pomoc ruszył jego wujek, który zabierał
                                <span th:text="${actor.getSurname()}"></span>
                                na koncerty muzyki gospel.
                                To właśnie tak narodziła się jego fascynacja muzyką, zaczął grać na gitarze.
                            </div>
                        </div>
                    </div>
                </div>
                <a th:href="@{/}">Back to main page</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
