<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Show Movie</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="pannel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title" th:text="${movie.title}">Really awesome movie!</h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2">
                                <h5>Categories:</h5>
                                <ul th:each="category:${movie.categories}">
                                    <li th:text="${category.name}"></li>
                                </ul>
                            </div>
                            <div class="col-md-2 offset-md-4">
                                <h5>Image: </h5>
                                <div class="col-md-2 offset-md-4">
                                    <div class="card" style="height:50%">
                                        <img src="#" th:src="${movie.posterLink}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">Actors</h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Director:
                                    <span th:text="${movie.director}">Director</span>
                                </h5>
                                <div class="col-md-6">
                                    <ul>
                                        <li th:remove="all">Bruce Willis</li>
                                        <li th:remove="all">Salma Hayek</li>
                                        <!--<li th:each="actor : ${movie.actors}" th:text="${actor.title}">Chuck Norris</li>-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Trailer</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <iframe width="1139" height="712" th:src="${movie.movieTrailer}" frameborder="0"
                                            allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Description</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <!--<p th:text="${movie.description}">-->
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing
                                    elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
                                    et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
                                    nec, pellentesque eu, pretium quis, sem.
                                    <!--</p>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <a th:href="@{/movies}">Back to main page</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
