<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Awesome Movies Search</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>

<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>Movies search</h2>
            </div>
            <div class="panel-body">
                <form th:action="@{/advancedSearch}" th:object="${filterCriteria}" method="post">

                    <table class="table">
                        <tbody>
                        <tr>
                            <td><label>Movie title: </label></td>
                            <td><input type="text" th:field="*{name}" placeholder="Title"/></td>
                        </tr>
                        <tr>
                            <td><label>Movie category: </label></td>
                            <td><select name="text" th:field="*{category}">
                                <option value="komedia">Komedia</option>
                                <option value="horror">Horror</option>
                                <option value="akcja">Akcja</option>
                                <option value="thriller">Thriller</option>
                                <option value="bajka">Bajka</option>
                                <option value="dramat">Dramat</option>
                                <option value="SCI-FI">SCI-FI</option>
                            </select></td>
                        </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-info btn-sm" type="submit">Search</button>
                </form>
                <div style="clear: both"></div>
            </div>
        </div>
        <p>
            <a th:href="@{/movies}">Back to Main page </a>
        </p>
    </div>
</div>
</body>
</html>
