<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Show Movie</title>

    meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/ie-support/html5.js"></script>
    <script src="js/ie-support/respond.js"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="pannel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title" th:text="${movie.title}">Really awesome movie!</h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2">
                                <h5>Categories:</h5>
                                <ul th:each="category:${movie.categories}">
                                    <li th:text="${category.name}"></li>
                                </ul>
                            </div>
                            <div class="col-md-2 offset-md-4">


                                <h5>Image: </h5>
                                <div class="col-md-2 offset-md-4">
                                    <div class="card" style="height:50%">
                                        <img src="#" th:src="${movie.posterLink}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="w3-light-grey w3-round-xlarge">
                    <div class="w3-container w3-green w3-round-xlarge" style="width:25%">Like % <span th:text="${movie.thumbUpPercentage()}"></span></div>
                </div>
                <br>
                <div class="w3-light-grey w3-round-xlarge">
                    <div class="w3-container w3-red w3-round-xlarge" style="width:25%">Dislike % <span th:text="${movie.thumbDownPercentage()}"></span></div>
                </div>
                <div>
                    <br>
                    <button style="color: green">Like <span th:text="${movie.thumbUp} "></span><i class="fa fa-thumbs-up">
                    </i></button>
                    &ensp;
                    <button style="color: red">Dislike <span th:text="${movie.thumbDown} "></span><i class="fa fa-thumbs-down">

                    </i></button>
                </div>
                &ensp;




                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">Critics rating</h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <span id="rating" style="font-size: 28px;" th:text="${movie.criticsRate}"></span>/10
                            </div>
                        </div>
                    </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">Actors</h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Director:
                                    <span th:text="${movie.director}">Director</span>
                                </h5>
                                <div class="col-md-6">
                                    <ul>
                                        <li th:remove="all">Bruce Willis</li>
                                        <li th:remove="all">Salma Hayek</li>
                                        <!--<li th:each="actor : ${movie.actors}" th:text="${actor.title}">Chuck Norris</li>-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Trailer</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12" align="center">
                                    <iframe height="350" style="width:90%" th:src="${movie.movieTrailer}"
                                            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Description</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <!--<p th:text="${movie.description}">-->
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing
                                    elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
                                    et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
                                    nec, pellentesque eu, pretium quis, sem.
                                    <!--</p>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <a th:href="@{/movies}">Back to main page</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>

</html>
